<h1> sign in </h1>

    <form action="<%= session_url %>" method="post">
        <label for="user_username"> username</label>
        <input type="text" name="user[username]" id="user_username">
        <br>
        <br>
        <label for="user_password"> password</label>
        <input type="password" name="user[password]" id="user_password">
        <br>
        <br>
    
        <input type="submit">
    
    </form>